html,body{

    width: 100%;
    height: 100vh;
}

.pageNotFound-cont{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

@media (min-width : 768px) {
    #notfound{
        width: 700px;
    }
}