.background-cont {
    height: 100vh;
    width: 100%;
    background-image: url("src/assets/nastuh-abootalebi-yWwob8kwOCk-unsplash.jpg");
    background-position: center;
    background-size: cover;
}
.overlay-cont{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.596);
    /* padding: 20px; */
}
.home-cont{
    width: 80%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media (min-width:768px) {
    .overlay-cont{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 15px;
    }
    .home-cont{
        width: 50%;
        margin-top: 50px;
    }
}
@media (min-width:1028px) {
    .home-cont{
        width: 30%;
    }
}